In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2022-05-07 21:00:05,-33.9258,18.4232,57.90,79,5,11.01
1,1,Hobart,AU,2022-05-07 21:00:32,-42.8794,147.3294,51.66,82,75,8.05
2,2,Saint-Philippe,RE,2022-05-07 21:00:33,-21.3585,55.7679,72.99,83,31,11.48
3,3,Punta Arenas,CL,2022-05-07 20:59:39,-53.1500,-70.9167,50.11,66,20,31.07
4,4,Jamestown,US,2022-05-07 20:58:52,42.0970,-79.2353,65.52,40,43,8.99

In [3]:
# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Kapaa,US,2022-05-07 21:00:35,22.0752,-159.3190,80.58,82,90,5.99
14,14,Fort Walton Beach,US,2022-05-07 21:00:38,30.4058,-86.6188,87.67,60,0,13.80
19,19,Waingapu,ID,2022-05-07 21:00:41,-9.6567,120.2641,79.18,86,21,10.36
21,21,Sibolga,ID,2022-05-07 21:00:42,1.7427,98.7792,75.79,90,100,2.51
23,23,Bengkulu,ID,2022-05-07 21:00:44,-3.8004,102.2655,77.11,83,100,0.74
24,24,Meulaboh,ID,2022-05-07 21:00:44,4.1363,96.1285,76.71,90,100,4.70
25,25,Hambantota,LK,2022-05-07 21:00:45,6.1241,81.1185,80.60,84,100,12.53
26,26,Alofi,NU,2022-05-07 21:00:45,-19.0595,-169.9187,80.69,77,95,13.40
30,30,Lufilufi,WS,2022-05-07 21:00:48,-13.8745,-171.5986,81.79,76,16,11.56
32,32,Taoudenni,ML,2022-05-07 21:00:49,22.6783,-3.9836,89.76,10,0,10.65

In [26]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
9               Kapaa      US     80.58  22.0752 -159.3190
14  Fort Walton Beach      US     87.67  30.4058  -86.6188
19           Waingapu      ID     79.18  -9.6567  120.2641
21            Sibolga      ID     75.79   1.7427   98.7792
23           Bengkulu      ID     77.11  -3.8004  102.2655
24           Meulaboh      ID     76.71   4.1363   96.1285
25         Hambantota      LK     80.60   6.1241   81.1185
26              Alofi      NU     80.69 -19.0595 -169.9187
30           Lufilufi      WS     81.79 -13.8745 -171.5986
32          Taoudenni      ML     89.76  22.6783   -3.9836

In [30]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Fort Walton Beach,US,87.67,30.4058,-86.6188,Best Western Ft. Walton Beachfront
19,Waingapu,ID,79.18,-9.6567,120.2641,Pondok Wisata Elim
21,Sibolga,ID,75.79,1.7427,98.7792,Hotel Syariah CN Darussalam
23,Bengkulu,ID,77.11,-3.8004,102.2655,Grage Hotel Bengkulu
24,Meulaboh,ID,76.71,4.1363,96.1285,Kost Pria
25,Hambantota,LK,80.60,6.1241,81.1185,Bungalow 63
26,Alofi,NU,80.69,-19.0595,-169.9187,Taloa Heights
30,Lufilufi,WS,81.79,-13.8745,-171.5986,Leuaina Beach Resort and Spa
32,Taoudenni,ML,89.76,22.6783,-3.9836,

In [50]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))